<!DOCTYPE html>
<html>
<head>
<title>Product Placement Dashboard</title>
</head>

<body>

<h1>Product Placement Dashboard</h1>

<div class='tableauPlaceholder' id='viz1772885610419' style='position: relative'>
<noscript>
<a href='#'>
<img alt='Product Placement Dashboard' src='https://public.tableau.com/static/images/BG/BGF2ZD397/1_rss.png' style='border: none'/>
</a>
</noscript>

<object class='tableauViz' style='display:none;'>
<param name='host_url' value='https://public.tableau.com/' />
<param name='embed_code_version' value='3' />
<param name='path' value='shared/BGF2ZD397' />
<param name='toolbar' value='yes' />
</object>
</div>

<script type='text/javascript'>
var divElement = document.getElementById('viz1772885610419');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width="100%";
vizElement.style.height="800px";

var scriptElement = document.createElement("script");
scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

</body>
</html>